body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1187px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:519px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2092 {
  position:absolute;
  left:42px;
  top:78px;
  width:320px;
  height:519px;
}
#u2093 {
  position:absolute;
  left:2px;
  top:252px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:198px;
}
#u2094 {
  position:absolute;
  left:42px;
  top:88px;
  width:320px;
  height:198px;
}
#u2095 {
  position:absolute;
  left:2px;
  top:91px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2096 {
  position:absolute;
  left:48px;
  top:116px;
  width:306px;
  height:19px;
}
#u2097 {
  position:absolute;
  left:2px;
  top:2px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u2098 {
  position:absolute;
  left:52px;
  top:119px;
  width:301px;
  height:14px;
  font-size:11px;
  color:#666666;
}
#u2099 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  word-wrap:break-word;
}
#u2100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 111, 96, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2100 {
  position:absolute;
  left:42px;
  top:557px;
  width:320px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2101 {
  position:absolute;
  left:2px;
  top:11px;
  width:316px;
  word-wrap:break-word;
}
#u2102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(241, 83, 83, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2102 {
  position:absolute;
  left:42px;
  top:39px;
  width:320px;
  height:40px;
}
#u2103 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u2104 {
  position:absolute;
  left:49px;
  top:24px;
  width:308px;
  height:13px;
}
#u2105 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:20px;
}
#u2106 {
  position:absolute;
  left:49px;
  top:48px;
  width:129px;
  height:20px;
  color:#FFFFFF;
  line-height:20px;
}
#u2107 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u2108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u2108 {
  position:absolute;
  left:135px;
  top:49px;
  width:129px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u2109 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u2110 {
  position:absolute;
  left:303px;
  top:145px;
  width:50px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2111 {
  position:absolute;
  left:252px;
  top:145px;
  width:50px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2112 {
  position:absolute;
  left:42px;
  top:82px;
  width:320px;
  height:63px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1826px;
}
#u2113 {
  position:absolute;
  left:514px;
  top:24px;
  width:1px;
  height:1825px;
}
#u2114 {
  position:absolute;
  left:2px;
  top:904px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u2115 {
  position:absolute;
  left:380px;
  top:112px;
  width:33px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2116 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  word-wrap:break-word;
}
#u2117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  height:25px;
}
#u2117 {
  position:absolute;
  left:599px;
  top:77px;
  width:507px;
  height:25px;
  font-size:16px;
}
#u2118 {
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  word-wrap:break-word;
}
#u2119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2119 {
  position:absolute;
  left:539px;
  top:27px;
  width:129px;
  height:22px;
  font-size:18px;
}
#u2120 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u2121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u2121 {
  position:absolute;
  left:539px;
  top:279px;
  width:33px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2122 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  word-wrap:break-word;
}
#u2123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  height:25px;
}
#u2123 {
  position:absolute;
  left:599px;
  top:287px;
  width:507px;
  height:25px;
  font-size:16px;
}
#u2124 {
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  word-wrap:break-word;
}
#u2125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:673px;
  height:2px;
}
#u2125 {
  position:absolute;
  left:515px;
  top:258px;
  width:672px;
  height:1px;
}
#u2126 {
  position:absolute;
  left:2px;
  top:-8px;
  width:668px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u2127 {
  position:absolute;
  left:539px;
  top:67px;
  width:33px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2128 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  word-wrap:break-word;
}
#u2129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u2129 {
  position:absolute;
  left:380px;
  top:564px;
  width:33px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2130 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  word-wrap:break-word;
}
