body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:90px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2172 {
  position:absolute;
  left:46px;
  top:92px;
  width:310px;
  height:505px;
  overflow:hidden;
}
#u2172_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:505px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2172_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:540px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2173 {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:540px;
}
#u2174 {
  position:absolute;
  left:2px;
  top:262px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2175 {
  position:absolute;
  left:38px;
  top:161px;
  width:240px;
  height:100px;
}
#u2176 {
  position:absolute;
  left:2px;
  top:42px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:2px;
}
#u2177 {
  position:absolute;
  left:38px;
  top:219px;
  width:240px;
  height:1px;
}
#u2178 {
  position:absolute;
  left:2px;
  top:-8px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u2179 {
  position:absolute;
  left:70px;
  top:185px;
  width:174px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u2180 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  word-wrap:break-word;
}
#u2181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:43px;
}
#u2181 {
  position:absolute;
  left:158px;
  top:219px;
  width:1px;
  height:42px;
}
#u2182 {
  position:absolute;
  left:2px;
  top:13px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
  text-align:center;
}
#u2183 {
  position:absolute;
  left:63px;
  top:230px;
  width:82px;
  height:19px;
  font-size:16px;
  color:#000000;
  text-align:center;
}
#u2184 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
  text-align:center;
}
#u2185 {
  position:absolute;
  left:175px;
  top:230px;
  width:82px;
  height:19px;
  font-size:16px;
  color:#000000;
  text-align:center;
}
#u2186 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2187 {
  position:absolute;
  left:31px;
  top:219px;
  width:254px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:519px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2188 {
  position:absolute;
  left:42px;
  top:78px;
  width:320px;
  height:519px;
}
#u2189 {
  position:absolute;
  left:2px;
  top:252px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:226px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2190 {
  position:absolute;
  left:42px;
  top:88px;
  width:320px;
  height:226px;
}
#u2191 {
  position:absolute;
  left:2px;
  top:105px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  text-align:left;
}
#u2192 {
  position:absolute;
  left:53px;
  top:95px;
  width:75px;
  height:25px;
  font-size:11px;
  text-align:left;
}
#u2193 {
  position:absolute;
  left:2px;
  top:4px;
  width:71px;
  word-wrap:break-word;
}
#u2194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:2px;
}
#u2194 {
  position:absolute;
  left:46px;
  top:126px;
  width:305px;
  height:1px;
}
#u2195 {
  position:absolute;
  left:2px;
  top:-8px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  text-align:left;
}
#u2196 {
  position:absolute;
  left:53px;
  top:133px;
  width:75px;
  height:25px;
  font-size:11px;
  text-align:left;
}
#u2197 {
  position:absolute;
  left:2px;
  top:4px;
  width:71px;
  word-wrap:break-word;
}
#u2198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:2px;
}
#u2198 {
  position:absolute;
  left:46px;
  top:164px;
  width:305px;
  height:1px;
}
#u2199 {
  position:absolute;
  left:2px;
  top:-8px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#000000;
}
#u2200 {
  position:absolute;
  left:53px;
  top:179px;
  width:80px;
  height:14px;
  font-size:11px;
  color:#000000;
}
#u2201 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u2202 {
  position:absolute;
  left:117px;
  top:176px;
  width:60px;
  height:20px;
}
#u2202_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2202_input {
  font-family:'应用字体';
}
#u2203 {
  position:absolute;
  left:184px;
  top:176px;
  width:60px;
  height:20px;
}
#u2203_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2203_input {
  font-family:'应用字体';
}
#u2204 {
  position:absolute;
  left:250px;
  top:176px;
  width:60px;
  height:20px;
}
#u2204_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2204_input {
  font-family:'应用字体';
}
#u2205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:2px;
}
#u2205 {
  position:absolute;
  left:53px;
  top:211px;
  width:305px;
  height:1px;
}
#u2206 {
  position:absolute;
  left:2px;
  top:-8px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2207 {
  position:absolute;
  left:53px;
  top:220px;
  width:298px;
  height:82px;
}
#u2208 {
  position:absolute;
  left:2px;
  top:33px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2209 {
  position:absolute;
  left:42px;
  top:324px;
  width:320px;
  height:33px;
}
#u2210 {
  position:absolute;
  left:2px;
  top:8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#FF0000;
  text-align:left;
}
#u2211 {
  position:absolute;
  left:53px;
  top:328px;
  width:75px;
  height:25px;
  font-size:11px;
  color:#FF0000;
  text-align:left;
}
#u2212 {
  position:absolute;
  left:2px;
  top:4px;
  width:71px;
  word-wrap:break-word;
}
#u2213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#000000;
}
#u2213 {
  position:absolute;
  left:-278px;
  top:65px;
  width:301px;
  height:14px;
  font-size:11px;
  color:#000000;
}
#u2214 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  word-wrap:break-word;
}
#u2215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#000000;
}
#u2215 {
  position:absolute;
  left:-278px;
  top:95px;
  width:301px;
  height:14px;
  font-size:11px;
  color:#000000;
}
#u2216 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  word-wrap:break-word;
}
#u2217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 111, 96, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2217 {
  position:absolute;
  left:42px;
  top:557px;
  width:320px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2218 {
  position:absolute;
  left:2px;
  top:11px;
  width:316px;
  word-wrap:break-word;
}
#u2219 {
  position:absolute;
  left:42px;
  top:551px;
  width:326px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2220 {
  position:absolute;
  left:42px;
  top:318px;
  width:326px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(241, 83, 83, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2221 {
  position:absolute;
  left:42px;
  top:45px;
  width:320px;
  height:40px;
}
#u2222 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u2223 {
  position:absolute;
  left:49px;
  top:30px;
  width:308px;
  height:13px;
}
#u2224 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:20px;
}
#u2225 {
  position:absolute;
  left:49px;
  top:54px;
  width:129px;
  height:20px;
  color:#FFFFFF;
  line-height:20px;
}
#u2226 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u2227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u2227 {
  position:absolute;
  left:135px;
  top:55px;
  width:129px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u2228 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
